* {
  margin: 0;
  box-sizing: border-box;
}


h1 {
    width: 100%;
    padding: 35px 12%;
    background-color: rgb(213, 211, 222);
    background-image: linear-gradient(rgb(103, 101, 113), rgb(195, 187, 187));
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

li {
  list-style: none;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 14px 28px Orgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background-color: rgb(193, 199, 199);
  

}

li:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(øpx, -8px);
}



img {
  max-width: 200px;
  border-radius: 5%;
  text-align: center;
  margin: 0 auto;
  display: block;
  
}

h3 {
  max-width: 200px;
  max-height: 200px;
  display: block;
  border-radius: 5%;
  font-size: 15px;
  text-align: center;
  justify-content: space-around;
}

.description {
  max-width: 200px;
  max-height: 200px;
  display: block;
  border-radius: 5%;
  font-size: 11px;
  text-align: center;
  margin: 0;
}

.itemName {
  width: 200px;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
  
}

button {
  color: rgb(26, 21, 21);
  background-color: none;
  border-radius: 5px;
  font-weight: 550;
  text-decoration: none;
  cursor: pointer;
  width: 200px;

}

button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  0 3px 6px rgba(0,0,0,0.23);
  transform: translate(øpx, -8px);
}

.showForm {
  margin-left:85%;
  
}

form {
  margin-left: 85%;
}

